<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Profile update</h4>
      </div>
      <form action="#">
        <div class="form-body">
          <div class="card-body">
            <div class="row p-t-20">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">First Name</label>
                  <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    [(ngModel)]="firstName"
                    class="form-control"
                    placeholder="John doe"
                  />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Last Name</label>
                  <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    [(ngModel)]="lastName"
                    class="form-control form-control-danger"
                    placeholder="12n"
                  />
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">Blood group</label>
                  <input
                    type="text"
                    id="bloodGroup"
                    [(ngModel)]="blood"
                    name="blood"
                    class="form-control form-control-danger"
                    placeholder="12n"
                  />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Date of Birth</label>
                  <input
                    type="date"
                    [(ngModel)]="dob"
                    name="dob"
                    class="form-control"
                  />
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-danger">
                  <label class="control-label">National Id Card Number</label>
                  <input
                    type="text"
                    id="nid"
                    [(ngModel)]="nid"
                    name="nid"
                    class="form-control form-control-danger"
                    placeholder="nid number "
                  />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Profile photo</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>

                    <div class="custom-file">
                      <input
                        type="file"
                        name="photo"
                        (change)="getPhotoUrl($event)"
                        class="custom-file-input"
                        id="inputGroupFile01"
                      />
                      <label class="custom-file-label" for="inputGroupFile01"
                        >Choose file</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <h4 class="card-title m-t-40">Address</h4>
          </div>
          <hr />
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Street</label>
                  <input
                    type="text"
                    name="addP1"
                    [(ngModel)]="addP1"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input
                    type="text"
                    name="addP2"
                    [(ngModel)]="addP2"
                    class="form-control"
                  />
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6">
                <div class="form-group">
                  <label>State</label>
                  <input
                    type="text"
                    name="addP3"
                    [(ngModel)]="addP3"
                    class="form-control"
                  />
                </div>
              </div>
              <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Post Code</label>
                  <input
                    type="text"
                    name="addP4"
                    [(ngModel)]="addP4"
                    class="form-control"
                  />
                </div>
              </div>
              <!--/span-->

              <!--/span-->
            </div>
          </div>
          <div class="form-actions">
            <div class="card-body">
              <button (click)="onClick()" type="submit" class="btn btn-success">
                <i class="fa fa-check"></i> Save
              </button>
              <button type="button" class="btn btn-dark">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
