<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img
            src="{{ photoUrl }}"
            class="rounded-circle"
            width="150"
            height="150"
          />
          <h4 class="card-title">{{ displayName }}</h4>
          <h6 class="card-subtitle">{{ displayName }}</h6>
          <div class="row text-center justify-content-md-center">
            <div class="col-4">
              <a href="javascript:void(0)" class="link">
                <i class="icon-people m-r-10"></i>
                {{ tenants }}
              </a>
            </div>
            <div class="col-4">
              <a href="javascript:void(0)" class="link">
                <i class="icon-picture m-r-10"></i>
                {{ meters }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr />
      </div>
      <div class="card-body dash">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Personal Info</a>
            <ng-template ngbNavContent>
              <small class="d-flex"
                ><strong>Name</strong> :{{ displayName }}
              </small>
              <h6></h6>
              <small class="d-flex"
                ><strong>Date of birth</strong>: {{ dob }}</small
              >
              <h6></h6>
              <small class="d-flex"
                ><strong>Address</strong> {{ address }}</small
              >
              <h6></h6>
              <small class="d-flex"
                ><strong>Blood group</strong>: {{ blood }}</small
              >
              <h6></h6>
              <small class="d-flex"
                ><strong>Mobile number</strong>: {{ mobile }}</small
              >
              <h6></h6>

              <small class="d-flex"><strong>NID</strong>: {{ nid }}</small>
              <h6></h6>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Meter Info</a>
            <ng-template ngbNavContent>
              <small class="d-flex"
                ><strong>User type</strong>:{{ status }}
              </small>
              <h6></h6>
              <small class="d-flex"><strong>User Id</strong> :{{ uid }} </small>
              <h6></h6>
              <small class="d-flex"
                ><strong>Number of Meters</strong>:{{ meters }}
              </small>
              <h6></h6>
              <small class="d-flex"
                ><strong>Approved by</strong>: {{ apprvBy }}
              </small>
              <h6></h6>
              <small class="d-flex"
                ><strong>Application status</strong>: {{ appStat }}
              </small>
              <h6></h6>

              <small class="d-flex"
                ><strong>Tenants:</strong> {{ tenants }}</small
              >
              <h6></h6>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="row">
          <div class="col-12 m-t-10 m-l-10 d-flex justify-content-center">
            <button class="btn btn-sm btn-info" routerLink="/update-profile">
              update profile
            </button>
            <button class="btn btn-sm btn-info" routerLink="/bill-pay">
              pay bill
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <app-manage-things [user]="user"></app-manage-things>
  </div>
  <!-- Column -->
</div>

<div class="card"></div>
