<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="row">
      <div class="col-12 m-t-10 m-l-10">
        <button class="btn btn-sm btn-danger float-left" (click)="signOut()">
          Sign Out
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <img
            src="assets/images/users/5.jpg"
            class="rounded-circle"
            width="150"
          />
          <h4 class="card-title m-t-10">{{ displayName }}</h4>
          <h6 class="card-subtitle">{{ displayName }}</h6>
          <div class="row text-center justify-content-md-center">
            <div class="col-4">
              <a href="javascript:void(0)" class="link">
                <i class="icon-people m-r-10"></i>
                254
              </a>
            </div>
            <div class="col-4">
              <a href="javascript:void(0)" class="link">
                <i class="icon-picture m-r-10"></i>
                54
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr />
      </div>
      <div class="card-body">
        <small class="text-muted">Name </small>
        <h6>{{ displayName }}</h6>
        <small class="text-muted p-t-30 db">Blood group</small>
        <h6>{{ blood }}</h6>
        <small class="text-muted p-t-30 db">NID</small>
        <h6>{{ nid }}</h6>
        <small class="text-muted p-t-30 db">Blood Group</small>
        <h6>A+</h6>
        <small class="text-muted p-t-30 db">Date of birth</small>
        <h6>{{ dob }}</h6>
        <small class="text-muted p-t-30 db">Address</small>
        <h6>{{ address }}</h6>

        <small class="text-muted p-t-30 db">Social Profile</small>
        <br />
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <app-manage-things></app-manage-things>
  </div>
  <!-- Column -->
</div>
