<div class="row">
  <div class="row">
    <div class="col-12 m-t-10 m-l-20">
      <button
        class="btn btn-sm btn-outline-primary float-left"
        routerLink="/user-dashboard"
      >
        Back
      </button>
    </div>
  </div>
  <!-- Column -->
  <div
    class="col-lg-12 d-flex justify-content-center"
    *ngIf="meters.length == 0"
  >
    <h3>No meters found for this user</h3>
  </div>
  <div class="col-lg-12" *ngIf="meters.length > 0">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table v-middle product-overview table-hover"
            id="zero_config"
          >
            <thead class="bg-primary text-white">
              <tr>
                <th>Meter Id</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Location</th>
                <th>Bill</th>
                <th>Bill status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="border border-primary">
              <tr
                *ngFor="
                  let meter of meters;
                  trackBy: trackByFn
                    | slice: (page - 1) * page - 1:page * pageSize
                "
                (dblclick)="open2(content2, meter)"
              >
                <td>{{ meter.mid }}</td>
                <td>{{ meter.status }}</td>

                <td>{{ meter.owner }}</td>
                <td>{{ meter.type }}</td>
                <td>{{ meter.location }}</td>
                <td>{{ meter.bill }}</td>
                <td>{{ meter.billStatus }}</td>
                <td>
                  <a
                    *ngIf="meter.status == 1"
                    (click)="onStatusToggle(meter.mid, 3)"
                    class="text-inverse p-r-10"
                    data-toggle="tooltip"
                    title="Edit"
                  >
                    <i class="ti-close"></i> <span>Deactivate</span>
                  </a>
                  <a
                    *ngIf="meter.status == 3"
                    (click)="onStatusToggle(meter.mid, 1)"
                    class="text-inverse p-r-10"
                    data-toggle="tooltip"
                    title="Edit"
                  >
                    <i class="ti-check"></i> <span>Activate</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 m-t-10 m-l-20">
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="meters.length"
        ></ngb-pagination>
      </div>
    </div>
  </div>
  <!-- Column -->
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title font-weight-bold">{{ mDisplayname }}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">
          Id: <strong class="font-weight-bold">{{ mMid }}</strong>
        </li>
        <li class="list-group-item">
          Status: <strong class="font-weight-bold">{{ mStatus }}</strong>
        </li>
        <li class="list-group-item">
          Type:
          <strong class="font-weight-bold">{{ mType }}</strong>
        </li>
        <li class="list-group-item">
          Owner Id:
          <strong class="font-weight-bold">{{ mOwner }}</strong>
        </li>
        <li class="list-group-item">
          Bill:
          <strong class="font-weight-bold">{{ mBill }}</strong>
        </li>
        <li class="list-group-item">
          Bill status:
          <strong class="font-weight-bold">{{ mBillStatus }}</strong>
        </li>
        <li class="list-group-item">
          Location: <strong class="font-weight-bold"> {{ mLocation }}</strong>
        </li>

        <li class="list-group-item">
          <button
            *ngIf="mStatus == 3"
            (click)="onStatusToggle(mMid, 1)"
            type="button"
            class="btn btn-success"
          >
            Activate
          </button>
          <button
            *ngIf="mStatus == 1"
            (click)="onStatusToggle(mMid, 3)"
            type="button"
            class="btn btn-danger"
          >
            Deactivate
          </button>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-inverse"
        (click)="modal.dismiss('Cross click')"
      >
        Close
      </button>
    </div>
  </ng-template>
</div>
