<div class="row">
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table v-middle product-overview" id="zero_config">
            <thead>
              <tr>
                <th>Meter Id</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Location</th>
                <th>Bill</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let meter of meters">
                <td>{{ meter.mid }}</td>
                <td>{{ meter.status }}</td>

                <td>{{ meter.owner }}</td>
                <td>{{ meter.type }}</td>
                <td>{{ meter.location }}</td>
                <td>{{ meter.bill }}</td>

                <td>
                  <a
                    href="javascript:void(0)"
                    class="text-inverse p-r-10"
                    data-toggle="tooltip"
                    title="Edit"
                  >
                    <i class="ti-marker-alt"></i>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="text-inverse"
                    title="Delete"
                    data-toggle="tooltip"
                  >
                    <i class="ti-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
