<div class="row">
  <div class="row">
    <div class="col-12 m-t-10 m-l-20">
      <button
        class="btn btn-sm btn-warning float-left"
        routerLink="/user-dashboard"
      >
        Back
      </button>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table v-middle product-overview" id="zero_config">
            <thead>
              <tr>
                <th>Status</th>
                <th>User id</th>
                <th>Name</th>
                <th>App status</th>
                <th>Approved by</th>
                <th>Aproved on</th>
                <th>No of meters</th>
                <th>No of tenants</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.status }}</td>
                <td>{{ user.uid }}</td>

                <td>{{ user.displayName }}</td>
                <td>{{ user.applicationStatus }}</td>
                <td>{{ user.approvedBy }}</td>
                <td>{{ user.approvedOn }}</td>
                <td>{{ user.meters.length }}</td>
                <td>
                  {{ user.tenants.length }}
                </td>

                <td>
                  <a
                    *ngIf="user.applicationStatus == 'approved'"
                    (click)="onStatusToggle(user.uid, 'pending')"
                    class="text-inverse p-r-10"
                    data-toggle="tooltip"
                    title="Edit"
                  >
                    <i class="ti-close"></i><span>Deactivate</span>
                  </a>
                  <a
                    *ngIf="user.applicationStatus == 'pending'"
                    (click)="onStatusToggle(user.uid, 'approved')"
                    class="text-inverse p-r-10"
                    data-toggle="tooltip"
                    title="Edit"
                  >
                    <i class="ti-check"></i><span>Activate</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
